<p>startups-details works!</p>

<!-- <app-layout></app-layout>

<div class="mainContainer">
    <mat-card >

        <mat-card-content>
            <h2> <b> hello</b> </h2>
        </mat-card-content>


        <mat-card-content>
            <img mat-card-image src="{{startup.logo}}" alt="logo" />
        </mat-card-content>

        <mat-card-content>
            <h2> <b>{{startup.companyName}}</b> </h2>
        </mat-card-content>

        <mat-card-content>
            <h2>Sector: {{startup.sector}} </h2>
        </mat-card-content>

        <mat-card-content>
            <h2>Year of establishment {{startup.yearOfEstablishment}} </h2>
        </mat-card-content>

        <mat-card-content>
            <h2>Email address: {{startup.email}} </h2>
        </mat-card-content>


        <mat-card-content>
            <h2>Phone number: {{startup.phone}} </h2>
        </mat-card-content>

        
        <mat-card-content>
            <h2>web: {{startup.website}} </h2>
        </mat-card-content>

    <button mat-raised-button color="warn" [routerLink]="['/allStartups']">Back to home page</button>


    </mat-card>
</div> -->