<app-layout></app-layout>

<div class="mainContainer">

    
        <mat-card class="container1">
            <mat-card-content>
                <img mat-card-image src="{{startup?.logo}}" alt="logo" />
            </mat-card-content>

            <br>
            <mat-card-content>
                <h2 class="about"> {{startup?.about}} </h2>
            </mat-card-content>

        </mat-card>
    



        <mat-card class="container2">
            <mat-card-content>
                <pre>  <h2>Company name:     {{startup?.companyName}} </h2></pre>
            </mat-card-content>

            <mat-card-content>
                <pre><h2>Sector:    {{startup?.sector}} </h2></pre>
            </mat-card-content>

            <mat-card-content>
                <pre><h2>Year of establishment:    {{startup?.yearOfEstablishment}} </h2></pre>
            </mat-card-content>

            <mat-card-content>
                <pre><h2>Phone number:       <a href="tel:{{startup?.phone}}">{{startup?.phone}}</a></h2></pre>
            </mat-card-content>

            <mat-card-content>
                <pre> <h2>Email address:     <a href="mailto:{{startup?.email}}">{{startup?.email}}</a></h2></pre>
            </mat-card-content>

            <mat-card-content>
                <pre><h2>Company website:      <a href="{{startup?.website}}">{{startup?.website}}</a></h2></pre>
            </mat-card-content>

        </mat-card>
 
</div>
<button mat-raised-button color="primary" [routerLink]="['/allStartups']" >BACK</button>
