*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 5%;
    gap: 10%;
}



img{
    max-width: 25vw;
}

.container2{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.about{
    text-align: justify;
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button{
left: 50%;
padding: 0 2%;
}