<div class="container1">

    <div class="mainContainer">

        <mat-card *ngFor="let comment of comments">
            <mat-card-header>
                <mat-card-title>{{comment.name | uppercase}}</mat-card-title>
                <mat-card-subtitle>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{comment.comment}}</p>
            </mat-card-content>
            <div>

            </div>
            <mat-card-actions class="subContainer">
                <a href="tel:{{comment.phone}}"> <mat-icon> call</mat-icon></a>
                <a href="mailto:{{comment.email}}"><mat-icon>mail</mat-icon></a>
                <mat-icon  (click)="deletemessage(comment.id)">delete</mat-icon>
            </mat-card-actions>
        </mat-card>
    </div>
</div>