.mainContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
}

mat-card{
    margin: 3%;
    max-height: 20%;
    max-width: 20%; 
    border-radius: 20%;
    background-color: #f3cc73;
}

img{
    width: 70%;
    height: 70%;
}

.welcomeImg{

        background: url(/assets/26507.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    
}
