.container1 {

    background: url(/assets/26507.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.subContainer {
    width: 30%;
    position: absolute;
    top: 30vh;
    right: 30vw;
    color: rgb(75, 38, 2);
}
h1{
     font-family: cursive;
    font-size:xx-large;
    color: rgb(75, 38, 2);
}
h2 {
    font-family: cursive;
    font-size: x-large;
    color: rgb(75, 38, 2);
    padding: 3% 0;
}
button{
    font-family: cursive;
    
}