*{
    margin: 0;
    padding: 0;
}
.container1 {
    background: url(/assets/background.jpg) no-repeat;
    height: 100vh;
    background-size:cover;
    background-position: center;
    position: relative;
}

.subContainer {
    width: 30%;
    position: absolute;
    top: 30vh;
    right: 30vw;
    color: rgb(14, 14, 94);
}
h1{
     font-family: cursive;
    font-size:xx-large;
    color: rgb(16, 16, 74);
}
h2 {
    font-family: cursive;
    font-size: x-large;
    color:  rgb(14, 14, 94);
    padding: 3% 0;
}
button{
    font-family: cursive;
    left: 70%;
}