*{
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container1 {
    margin: 0 auto;
    width: 25%;
    padding-left: 40%;
}

.container2 {
    padding: 7% 15%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container2>form>*, .container1 {
    width: 100%;
}

.container1>button{
    left: 5%;
    padding: 1%;
}

@media screen and (max-width: 960px) {
    *{
        padding: 0;
        margin: 0;
    }
    .mainContainer{
        width: 100%;
    }
    .container1 {
        padding-left: 20%;
    }

    .container2>form>*, .container1 {
        width: 100%;
        margin: 0 auto;
    }
    }