
<div class="container">
    <h1>If you have any note please contact us here</h1>
    <form [formGroup]="form">

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input placeholder="name" matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input placeholder="07xxxxxxxx" matInput type="tel" formControlName="phone">
        <mat-error *ngIf="phone?.hasError('minlength')">Phone number must be 10 numbers</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email address*</mat-label>
        <input placeholder="example@admin.com" matInput type="email" formControlName="email">
        <mat-error *ngIf="email?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="email?.hasError('email')">Email format is incorrect</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Comment</mat-label>
        <input placeholder="Input you comment here please" matInput type="textarea" formControlName="comment">
        <mat-error *ngIf="comment?.hasError('required')">Comment is required</mat-error>
    </mat-form-field>


    <button (click)="submit()" mat-raised-button color="Primary" [disabled]="form.invalid">Submit</button>

</form>
</div>