*{
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* width: 50%; */
    margin: 0 auto;

}

.container1 {
   /* border: 1px solid black; */
    margin: 0 auto;
    width: 25%;
    margin-top: 30%;
    padding-left: 20%;
    
}

.container2 {
    padding: 7% 15%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container2>form>*, .container1 {
    width: 100%;
}

.container1>button{
    left: 14%;
}

@media screen and (max-width: 960px) {
    *{
        padding: 0;
        margin: 0;
    }
    .mainContainer {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .container2>form>*, .container1 {
        width: 90%;
    }
    }