<app-layout></app-layout>

<div class="container">
<mat-card>
    <mat-card-header>
      <mat-card-title><u>WHAT IS "JORDAN STARTUPS"</u></mat-card-title>
      <mat-card-subtitle>
        "JORDAN STARTUPS" help startups in jordan who are young companies founded to develop a unique product or service,
        bring it to market and make it irresistible and irreplaceable for customers.</mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
      <mat-card-title><u>OUR MISSION</u></mat-card-title>
      <mat-card-subtitle>
         More startups are needed in the world. Our goal is to facilitate both of these. Allow us to do.
    </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
      <mat-card-title><u>OUR MISSION</u></mat-card-title>
      <mat-card-subtitle>
         More startups are needed in the world. Our goal is to facilitate both of these. Allow us to do.
    </mat-card-subtitle>
    </mat-card-header>
</mat-card>
</div>

<button mat-raised-button color="warn" [routerLink]="['/allStartups']">Back to home page</button>


