.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2%;
}

mat-card-subtitle{
    color: black;
    margin-top: 3%;
    font-size: large;
}

mat-card{
        background-color: #FFF6BF;
        padding: 3%;
}

button{
    left: 44%;
}

mat-card:nth-child(even){
    right: -90%;

}
