.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    padding: 2%;
    background: url(/assets/backgroundd.jpg) no-repeat;
    width: 90%;
    height: 81vh;
    background-size: cover;
    /* background-position: center center; */
}

.paragraph{
    color: black;
    margin-top: 7%;
    font-size: large;
    width: 35%;
    text-align: center;

}




button{
    right: 10%;
    margin-top: 5%;
}

mat-card:nth-child(even){
   width: 35%

}
