<app-layout></app-layout>

<div class="container">

  <div class="paragraph">
   <h1> <u>WHAT IS "JORDAN STARTUPS"</u></h1>
    <p> "JORDAN STARTUPS" help startups in jordan who are young companies founded to develop a unique product or service,
      bring it to market and make it irresistible and irreplaceable for customers.</p>
   <br><br><br>
      <h1>  <u>OUR MISSION</u></h1>
      <p>         More startups are needed in the world. Our goal is to facilitate both of these. Allow us to do.
      </p>

  </div>

<button mat-raised-button color="primary" [routerLink]="['/allStartups']">Back to home page</button>

</div>

