
table {
    width: 80vw;
    height: 70vh;
    margin-right: 10%;
    margin-bottom: 10%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .filter{
    width: 50%;
    margin: 0 auto;
  }

 
  img{
    width: 70px;
  }

  .about{
    max-height: 10vh; 
    display: flex;
    overflow:auto;
}





  

