*{
  margin: 0;
  padding: 0;
}


table {
    width: 80vw;
    height: 70vh;
    margin-right: 10%;
    margin-bottom: 10%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .filter{
    width: 50%;
    margin: 0 auto;
  }

  img{
    width: 70px;
    max-height: 50px;
  }

  .subContainer{
    display: inline-flex;
    height:inherit;
    align-items: center;
  }




  

