*{
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10%;
}
.container > form > * {
    width: 100%;
}
.language {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.language button {
    justify-self: center;
}

h4{
    margin-top: 2%;
    color: red;
}

